/* About ***************************************************************** */

.about-container {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.about-banner-container {
  position: relative;
  display: flex;
  padding-top: 3rem;
}
.about-bannerImage-container {
  position: absolute;
  top: 100px;
  left: -50px;
  z-index: -2;
  max-width: 700px;
}
.about-image-section {
  max-width: 600px;
  flex: 1;
}

.about-green-back {
  top: 25px;
  z-index: -3;
  position: absolute;
  left: -150px;
}

.about-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;
  /* line-height: 5rem; */
  max-width: 800px;
}

.secondary-heading {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 600px;
  color: #6a6a6a;
  margin: 1.5rem 0rem;
}

.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #fe9e0d;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  align-items: center;
  justify-content: center;
}
.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.secondary-button:hover {
  background-color: #e48f0f;
}

.button-container {
  display: flex;
  flex-direction: row;
  max-width: 580px;
  gap: 50px;
}

@media (max-width: 1000px) {
  .about-bannerImage-container {
    max-width: 600px;
  }
}
@media (max-width: 800px) {
  .about-bannerImage-container {
    max-width: 450px;
  }
  .about-banner-container,
  .about-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-image-section {
    width: 100%;
    max-width: 400px;
  }
  .primary-heading {
    text-align: center;
    max-width: 90%;
  }
  .primary-text {
    text-align: center;
    max-width: 80%;
  }
  .about-text-section {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
}
@media (max-width: 600px) {
  .about-bannerImage-container {
    display: none;
  }
}
